* {
    font-family: 'Courier New', Arial, Helvetica, sans-serif, arial; 
}
html,
body {
    height: 90%;
    background-image:url(relogio.jpg);
    opacity: 0.9;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0b0909;
}
h1 {
    color: #ffffff;
    font-size: 150px;
    font-weight: 300;
}